.layout {
    display: grid;
    grid-template-rows: [header-s] 5rem [header-e navbar-s] 5rem [navbar-e content-s] 1fr [content-e];
    grid-template-columns: minmax(2rem, 25rem) [s] 1fr [e] minmax(2rem, 25rem);
}