@import './layout.scss';
@import './headernavbar.scss';
@import './auth/signin.scss';
@import './auth/signup.scss';

@import './page-title.scss';
@import './form-fields.scss';
@import './details.scss';
@import './account/account.scss';
@import './account/account-information.scss';
@import './account/purchase-history.scss';
@import './shop/shop.scss';
@import './shop//shop-search-bar.scss';
@import './quantity.scss';
@import './green-price-tag.scss';


html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    color: #808080;

}
