.picker {
    // background-color: cornflowerblue;
    grid-column: 5/10;
    grid-row: 2/3;
    padding-bottom: 50px;
    justify-self: center;
    align-self: end;
    
    input {
        font-size: 80px;
        font-family: $font-roboto;
        font-weight: bold;

        text-align: center;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid #e3b924;
        
        color: $color-gray-one;
        &:focus {
            outline: none;
        }
    }
}