@mixin button {
    height:50px;
    width: 20%;
    height: 50px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    color: white;
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
}

.home {
    // background-color: rgba(200, 204, 197, 0.5);
    display: grid;
    justify-items: center;
    grid-template-rows: [header-start] 218px [header-end card-start] 994px [card-end];
    z-index: -10;
    font-family: "Montserrat";
}


.header {
    align-self: center;
    color: white;
    text-align: center;
    &__skew {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);

        z-index: -5;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width: 100vw;
        background-color: #444444;
    }
    &__border {
        -webkit-clip-path: polygon(0 49%, 100% 24%, 100% 25%, 0 50%);
        clip-path: polygon(0 48%, 100% 23%, 100% 25%, 0 50%);
        
        z-index: -5;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width: 100vw;
        background-color: #00cb79;
    }
    h1 {
        
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
     }
    p {
        color: rgba(255,255,255,.75);
        font-size: 15px;
        font-weight: 300;
        line-height: 19px;
        width: 403px;
    }
}

.card {
    // min-height: 736px;
    max-height: 994px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .25);
    border-radius: 7px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 50px;
    justify-items: space-around;
    // align-items: center;
    

    &__inputs {
        display: grid;
        grid-template-rows: repeat(4, 27px);
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 120px;
        margin: 100px 83px;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    button:focus {
        outline: none;
    }

    &__generate, &__clear {
        @include button;
        justify-self: center;
        align-self: center;
        z-index: 1;
        
        
    }

    &__generate{
        background-color: #00cb79;
    }

    &__clear{
        background-color: #45B0E5;
        transform: translateY(50%);
    }

    &__content{ 
        width: 1100px;
        height: 297px;
        background-color: #f2f2f2;
        justify-self: center;
        margin-bottom: 84px;
        
        p {
            padding: 50px 47px;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 300px;
            line-height: 29px;
            
        }
    }
}

.input {
    text-align: center;
    display: grid;
    // grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: [number-start]26px [number-end input-start]1fr [input-end];
    grid-column-gap: 8px;
    height: 47px;

    &__title {
        grid-column: input-start/input-end;
        border-top: 1px solid #b3b3b3;
        font-size: 12px;
        color: #b3b3b3;
        font-weight: 300;
        &::selection {
            background-color: #ffb7b7; /* WebKit/Blink Browsers */
          }

    }  
    input {
        grid-column: input-start/input-end;
        border: none;
        font-size: 15px;
        text-align: center;
        font-weight: 600;
        padding: 4px 0;
        
        &:focus {
            outline: none;

            + .input__title {
                font-weight: 600;
                color: #00cb79;
                border-top: 1px solid #00cb79;
            }
        } 
    }
    &__number {
        grid-column: number-start/number-end;
        background-color: #00cb79;
        
        color: white;
        font-size: 20px;
        border-radius: 50%;
        height: 26px;
        width: 26px;
        padding: 1px;
    }
}






 