html {
    font-size: 62.5%; // 1rem is 10px
    font-family: 'Lato', sans-serif;
}

.post-topic {
  margin: 0 4px;
}
.app-wrapper {
  display: grid;
  justify-content: center;
}



.logo-main,
.recent-posts {
    display: grid;
    justify-items: center;
}


ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


$color-gray-one: #666666;
$color-gray-two: #B3B3B3;
$color-blue-one: #0079FF;
@import './mixins.scss';
@import './searchBar.scss';
@import './recentPosts.scss'; 
@import './home.scss';
@import './results.scss';