html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: $font-encode;
    font-weight: 400;
    color: $color-gray-4D;
}

.layout-grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: [page-start header-start] 13.6rem [header-ends bar-start] auto [bar-end content-start] 1fr [content-end page-end];
    grid-template-columns: [page-start] 14rem [content-start] 1fr [content-end] 14rem [page-end];
}

.bar {
    height: 4rem;
    background-color: $color-gray-D8;
    grid-row: bar-start/bar-end;
    grid-column: page-start/page-end;
}
