.form-input,
.form-textarea {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    
    align-items: center;
    width: 100%;
    justify-content: center;

    &__title{
        grid-row: 1/-1;
        grid-column: 1/2;
        @include red-title;
    }
    &__input {
        grid-row: 1/-1;
        grid-column: 2/3;

        height: 4rem;
        // width: 50rem;
        width: 100%;
        border: 1px solid $color-gray-E6;
        border-radius: .5rem;
        padding-left: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
}


.form-textarea {
    resize: none;
    &__title{
        align-self: start;
    }
    &__input{
        font-family: $font-encode;
        font-weight: 400;
        color: $color-gray-4D;
        height: 35.5rem;
        resize: none;
        padding-top: 1rem;
    }   
}

.button,
button,
.form-image__replace {
        transition: all .1s ease;
        &:active {
            transform: scale(.95);
        }
        &:focus {
            outline: none;
        }
}
.form-button {
    
    &__button {
        height: 4rem;
        width: 21.6rem;
        border-radius: 2rem;
        background-color: $color-red-BA;

        color: white;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.8rem;
        text-align: center;
        border: none;
    }
}

.form-button-small {
    
    &__button {
        border-radius: 1.6rem;
        border: 1px solid $color-gray-4D;
        width: 13rem;
        height: 2.4rem;
        background-color: white;
        
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: center;        
    }

    &__danger {
        border: 1px solid $color-red-BA;
        color: white;
        background-color: $color-red-BA;
    }
}

//IMAGE
.form-image {
    display: grid;
    grid-template-rows: [title-start] 1fr [title-end image-start] 13.7rem [image-end];
    grid-template: [s] 16rem [e];

    justify-self: start;

    & > * {
        grid-column: s/e;
    }
    &__title {
        @include red-title;
        margin-bottom: 2rem;
        grid-row: title-start/title-end;
    }
    &__image{
        width: 16rem;
        height: 13.7rem;
        border: none;
        background-color: $color-gray-D8;
        grid-row: image-start/image-end;


    }

    &__replace {
        z-index: 1;
        border-radius: 1.6rem;
        border: 1px solid white;
        background-color: white;

        color: $color-red-BA;
        width: 13rem;
        height: 2.4rem;
        
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: center;  
        
        grid-row: image-start/image-end;
    
        align-self: center;
        justify-self: center;
        
    }
    

}