.form-input {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    
    align-items: center;
    width: 100%;

    &__title{
        grid-row: 1/-1;
        grid-column: 1/2;

        color: $color-red-BA;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.3rem;
    }
    &__input {
        grid-row: 1/-1;
        grid-column: 2/3;

        height: 4rem;
        // width: 50rem;
        width: 100%;
        border: 1px solid $color-gray-E6;
        border-radius: .5rem;
        padding-left: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.form-button {
    
    &__button {
        height: 4rem;
        width: 21.6rem;
        border-radius: 2rem;
        background-color: $color-red-BA;

        color: white;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.8rem;
        text-align: center;
        border: none;
    }
}