.new-newsletter-form {
    display: grid;
    grid-template-columns: [s input-start] 1020px [input-end] 1fr [e];

    &__title {
        width: 100%;
        margin-top: 6.6rem;
        grid-column: s/e;
    }
    &__email{
        margin-top: 7.7rem;
        grid-column: input-start/input-end

    }
}