.new-newsletter-form {
    display: grid;
    grid-template-columns: [s input-start] 1020px [input-end] 1fr [e];

    &__title {
        width: 100%;
        margin-top: 6.6rem;
        grid-column: s/e;
    }
    &__newsletter-title,
    &__body {
        margin-top: 4.1rem;
        grid-column: input-start/input-end;
        font-family: $font-encode;
        font-weight: 400;
        color: $color-gray-4D;

    }

    &__body{
        margin-top: 2rem;
    }
}