.newsletter-grid {
    justify-content: center;
    margin-top: 4.7rem;

    
    grid-row: content-start/content-end;
    height: 100%;
    display: grid;
    grid-template-rows: [s box-start] 16rem [box-end archive-start] 1fr [archive-end] 1fr [e];
    grid-template-columns: [s box-start archive-start] 16rem [box-end archive-end latest-start] 96rem [latest-end e];



    row-gap: 3.85rem;
    column-gap: 6.1rem;

}