.requests-item {
    display: grid;
    grid-template-rows: [s title-s] 3.4rem [title-e tenant-s] 1fr [tenant-e e];
    grid-template-columns: [icon-s] 10rem [icon-e s title-s] minmax(4rem, 1fr) [title-e arrow-s] 6.8rem [arrow-e date-s] 10rem [date-e e] 6rem;

    align-items: center;
    padding: .6rem 0rem;

    transition: all .3s ease;
    &:hover {
        background-color: $color-gray-F8;
        .requests-item__move {
            transform: translateX(0); 
            opacity: 1 !important;
        }
        .requests-item__date {
            transform: translateX(-10rem); 
        }
    }
    &__icon {
        grid-column: icon-s/icon-e;
        grid-row: s/e;
        justify-self: center;

        font-size: 2.7rem;
    }
    &__title {
        display: flex;
        align-items: flex-end;
        
        &__text {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.3rem;
            margin-right: 2.5rem;
        }
        &__arrow {
            grid-column: arrow-s/arrow-e;
            grid-row: title-s/title-e;
    
            color: $color-gray-4D;
            font-size: 3rem;
        }
        align-self: end;

        grid-column: title-s/title-e;
        grid-row: title-s/title-e;

        
    }
    &__tenant-unit {
        align-self: start;

        grid-column: title-s/title-e;
        grid-row: tenant-s/tenant-e;

        font-family: $font-encode-cond;
        color: $color-red-BA;
        font-size: 1.3rem;
        line-height: 1.6rem;

    }
    &__date {
        grid-column: date-s/date-e;
        grid-row: s/e;
        text-align: right;

        font-size: 1.4rem;
        line-height: 1.7rem;
        transition: all .3s ease;
    }
    &__move {
        grid-column: date-s/date-e;
        grid-row: s/e;
        justify-self: end;
        // display: none;
        transition: all .3s ease;
        transform: translateX(100px);
        opacity: 0;


    }
    &__description {
        grid-column: s/e;
    }
    .item-description {
        display: grid;
        grid-template-columns: [image-start] 15rem [image-end] 1fr;
        grid-template-rows: 10rem;
        grid-column-gap: 4rem;
        grid-auto-flow: column;
        margin-top: 1.4rem;
        margin-bottom: 1.5rem;
        &__img {
            object-fit: contain;
            grid-column: image-start/image-end;
            height: 100%;
            width: 100%;
        }
        &__text {
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
    }
}

.bg-F8 {
    background-color: $color-gray-F8;
}
