.requests-grid {
    justify-content: center;
    
    grid-row: content-start/content-end;
    display: grid;
    grid-template-rows: [add-start] 4.7rem [add-end s boxes-start] 1fr [boxes-end e];
    grid-template-columns: [s boxes-start] 16rem [boxes-end requests-start] 96rem [requests-end e];

    column-gap: 6.1rem;

    &__button {
        grid-row: add-start/add-end;
        grid-column: requests-start/requests-end;
        justify-self: end;
        align-self: center;
        margin-right: 1rem;
     }

}