.requests {
    grid-row: s/e;
    grid-column: requests-start/requests-end;

    display: grid;
    row-gap: 2rem;
    align-self: start;
    
    border: 1px solid $color-gray-E6;
    border-radius: .5rem;
}