.sign-in {
    grid-row: content-start/content-end;
    grid-column: content-start/content-end;
}

.sign-in-form {
    display: grid;
    justify-items: center;
    &__title {
        width: 100%;
    }
    &__email{

    }
    &__password{

    }
}