$color-gray-4D: #4d4d4d;
$color-red-BA: rgb(201, 0, 0);
$color-gray-D8: #D8D8D8;
$color-gray-E6: #e6e6e6;
$color-gray-F8: #f8f8f8;

$font-encode: 'Encode Sans';
$font-encode-cond: 'Encode Sans Condensed';

