.shop-cart {
    display: grid;
    grid-template-rows: [toggle-s] 40px [toggle-e content-s] 1fr [content-e];
    grid-template-columns: [s] 1fr [e];
    grid-row-gap: 15px;
    &__toggle {
        grid-row: toggle-s/toggle-e;
        grid-column: s/e;
        justify-self: end;
        color: white;



        display: grid;
        justify-items: center;
        align-items: center;
    }

    &__content{
        grid-row: content-s/content-e;
        grid-column: s/e;

        height: 675px;
        width: 520px;
        background-color: #333;
        box-shadow: -3px 20px 20px 0 rgba(0,0,0,0.2);
    }
}

.cart-button {
    color: white;
    background-color: #333;
    font-size: 28px;
    border-radius: 25px 0 0 25px;
    height: 40px;
    width: 76px;
}

.cart-content {
    &__title {
        font-weight: 600;
        font-size: 30px;
        font-family: "Titillium Web";
        color: #E6e6e6;
    }
    &__products{
        display: grid;
    }
    &__footer {
        display: grid;
    }
}

.cart-footer {
    height: 113px;
    background-color: #1a1a1a;
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 50px [checkout-s] 183px [checkout-e sub-s] 1fr [sub-e] 27px [price-s] 46px [price-e] 31px;
    align-items: center;
    

    & > * {
        grid-row: s/e;
    }
    &__checkout {
        grid-column: checkout-s/checkout-e;
        display: grid;
        justify-items: center;
        align-items: center;
        height: 38px;
        width: 183px;
        border-radius: 20px;
        background-color: #00CB79; 
        color: #E6e6e6;
        font-size: 1.8rem;
        font-weight: 600;
        &:hover {
            background-color: #00A462;
        }
        
        &:active {
            transform: scale(0.95);
        }

        &:focus {
            outline: none;
        }
    }
    

    &__subtotal {
        justify-self: end;

        grid-column: sub-s/sub-e;
        font-size: 18px;


    }
    &__price {
        justify-self: start;

        grid-column: price-s/price-e;
        font-size: 18px;
        color: white;
        font-weight: 600;
    }
}

