.library {
    grid-column: library-start/library-end;
    display: grid;
    grid-template-rows: [title-start] 100px [title-end courses-start] repeat(auto-fit, 1fr) [courses-end];
    grid-row-gap: 20px;

    padding-left: 100px;
    padding-top: 100px;
    margin-right: -50px;


    &__title {
        color: $color-blue;
        font-family: $font-alegreya;
        font-size: 34px;
        font-weight: bold;

        border-left: 2px solid $color-blue;
        padding: 20px 40px;
    }
}
