@import 'variables';
@import 'library';
@import 'libraryCourse';
@import 'arrow';

.home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: [library-start] 1fr 1fr [library-end schedule-start] 1fr [schedule-end];
    grid-template-rows: 1fr;

}


.schedule {
    grid-column: schedule-start/schedule-end;
    position: relative;
    height: 100%;
    width: 100%;
}

.gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, $color-purple 0%, $color-light-blue 100%);
    z-index: -10;
}