@import 'variables';
@import 'library';
@import 'libraryCourse';
@import 'arrow';
@import 'schedule';
@import 'scheduleCourse';
@import 'addRemoveAction';
@import 'gradient';
@import 'progressTracker';

.home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: [library-start] 1fr 1fr [schedule-start] 50px [library-end] 1fr [schedule-end];
    grid-template-rows: 1fr;
    overflow: hidden;
}


