 .schedule {
    display:grid;
    grid-template-rows: 100px repeat(auto-fill, 75px) [progress-start] 76px [progress-end];
    grid-row-gap: 22px;

    grid-column: schedule-start/schedule-end;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    width: 100%;

    align-items: center;
    justify-items: center;

    &__title {
        border-left: 1px solid $color-subtle-gray;
        padding-left: 30px;
        color: white;
        font-family: $font-alegreya;
        font-size: 20px;
    }
}
