 .schedule {
    display:grid;
    grid-template-rows: [space-one-start] 1fr [space-one-end] repeat(5, 80px) [progress-start] 1fr [progress-end];
    grid-row-gap: 22px;

    grid-column: schedule-start/schedule-end;
    grid-row: 1/-1;
    position: relative;
    height: 100%;
    width: 100%;

    align-items: center;
    justify-items: center;
    align-content: center;

    padding-top: 15%;

 

    &__title {
        color: white;
        font-family: $font-alegreya;
        font-size: 20px;

        @include border-left;
    }
}

